@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBlackAz.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBlackItalicAz.otf') format('opentype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBoldAz.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProBoldItalicAz.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProExtraLightAz.otf') format('opentype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProExtraLightItalicAz.otf') format('opentype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProLightAz.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProLightItalicAz.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProMediumAz.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProMediumItalicAz.otf') format('opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegularAz.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProRegularItalicAz.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProSemiBoldAz.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProSemiBoldItalicAz.otf') format('opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProUltraLightAz.otf') format('opentype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Pro';
  src: url('../fonts/SofiaProUltraLightItalicAz.otf') format('opentype');
  font-weight: 100;
  font-style: italic;
}
